<!DOCTYPE HTML>
<html>
	<head>
		<style>
		</style>
	</head>
	<body>
	
		<h1>Caesar Cipher</h1>
		
		<p>
			<form>
				<p>Write your Secret Message Here:</p>
				<input type="text" autofocus name="words" value="<%= words %>">
				<input type="text" name="shift" value="<%= shift %>" size="2">
				<input type="submit" value="submit">
			</form>
		</p>
		
		<%= c_output %>
		
		<p><a href="/">HOME</a></p>
		
	</body>
</html>