<!DOCTYPE HTML>
<html>
	<head>
		<style>
		</style>
	</head>
	<body>
	
		<h1>Mastermind game</h1>
		
	
		<%= m_output %>
		<p><%= m_status %></p>
		
		<p>
			<form>
				<p>
					Enter four letters to guess four colors:
					<input type="text" name="m_guess" size="6" autofocus>
					<input type="submit" value="Guess">
				</p>
			</form>
		</p>
		
		<p><a href="/">HOME</a></p>
		
	</body>
</html>